Project Title
Project Description & Background
Table of Contents
Requirements (required)
Recommended modules (optional)
Installation (required, unless a separate INSTALL.md is provided)
Configuration (required)
Troubleshooting & FAQ (optional)
Maintainers (optional)
Issues our team face
