anaconda-client==1.12.0
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
cachetools==5.3.2
clyent
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
et-xmlfile==1.1.0
fonttools==4.25.0
google==3.0.0
google-ai-generativelanguage==0.3.3
google-api-core==2.12.0
google-auth==2.23.4
google-generativeai==0.2.2
googleapis-common-protos==1.61.0
grpcio==1.59.2
grpcio-status==1.59.2
gurobipy==10.0.3
inflection==0.5.1
jsonpointer==2.1
mizani==0.9.3
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
openpyxl==3.0.10
pandas==1.5.3
patsy==0.5.3
pep8==1.7.1
Pillow==9.4.0
plotnine==0.12.3
ply==3.11
proto-plus==1.22.3
protobuf==4.25.0
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
rsa==4.9
scipy==1.10.1
TBB==0.2
webencodings==0.5.1
